{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "no-unused-vars": 1,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0
  }
}
